table{
    border: 3px solid #01987A;
    border-collapse: collapse;
    text-align: center;
    margin: 20px auto;
}

td,th{
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-width: 100px;
}

th{
    background-color: #01987A;
    color: white;
    font-weight: 700;
}

tr{
    border-bottom: 1px solid lightgray;
}

th:first-child ,td:first-child{
    text-align: left;
}

td:hover{
    background-color:#11AF8F;
    color: white;
    font-weight: 700;
}

tr:hover{
    background-color: #7BFFE4;
}